body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008080;
  }
  
  header {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }

  h2{
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  main {
    padding: 1rem;
  }

  label{
    padding-bottom: 2%;
    font-size: large;
  }

  .task-form textarea{
    margin-bottom: 2%;
    font-size: large;
  }
  
  .task-form {
    margin-bottom: 2rem;
    
  }
  
  
  .task-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .task-form input,
  .task-form select,
  .task-form button {
    margin-bottom: 1rem;
    font-size: large;
  }

  .task-form button{
    font-style: bold;
  }
  
  .task-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-list th,
  .task-list td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  .task-list th {
    background-color: #f2f2f2;
  }
  
  .task-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
  }
  